*{
  padding: 5px;
  margin: 5px;
}
canvas {
  display: block;
}
h1{
  float: left;
  background: -webkit-linear-gradient(to right, #fcb045,#fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045,#fd1d1d, #833ab4);
}
a{
  text-decoration: none;
}
